.head{
	text-align: center;
	margin: 10px;
}
body{
	min-width: 290px;
	color:#4d4e53;
	background-color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.5;
	
}
nav{
	position: fixed;
	min-width: 290px;
	margin-top: 0px;
	margin-left: 0px;
	border-right: solid rgba(0, 22, 22, 0.4);
	width: 300px;
	height: 900px;
}
nav ul{
	height: 88%;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
nav ul li{
	border-top: 1px solid;
	list-style: none;
	position: relative;
	width: 100%;
}
nav ul li a{
	display: block;
  padding: 10px 30px;
   color: #4d4e53;
  text-decoration: none;
  cursor: pointer; 
}
h2{
	color: black;
	font-size: 1.8em;
	text-align: left;
    margin: 0px;
	font-weight: thin;
}
main{
	position: absolute;
	margin-left: 310px;
	padding: 20px;
	margin-bottom: 110px;
}
pre {
	display: block;
	text-align: left;
	white-space: pre-line;
	position: relative;
	word-break: normal;
	word-wrap: normal;
	line-height: 2;
	background-color: #f7f7f7;
	padding: 15px;
	margin: 10px;
	border-radius: 5px;
  }
  div{
	overflow-x: auto;
  }
  table {
	caption-side: bottom;
	border-collapse: collapse;
  }


  @media only screen and (max-width: 815px) {
	/* For mobile phones: */
	nav ul {
	  border: 1px solid;
	  height: 207px;
	}
  
	nav {
	  background-color: white;
	  position: absolute;
	  top: 0;
	  padding: 0;
	  margin: 0;
	  width: 100%;
	  max-height: 275px;
	  border: none;
	  /* z-index: 1; */
	  border-bottom: 2px solid;
	}
  
	main {
	  position: relative;
	  margin-left: 0px;
	  margin-top: 270px;
	}
  }
  
  @media only screen and (max-width: 400px) {
	main {
	  margin-left: -10px;
	}
  }
  
	
  